<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Thermostat</title>
    <link rel="stylesheet" href='../static/style.css'/>
</head>
<body>
<h2>Thermostat</h2>
    <form action="/apply" method="post">
        <div>
            <script>
                function roundHalf(num) {
                    return Math.round(num*2)/2;
                }

                function createOptionWithValues(selectElementId, defaultOption) {
                    let temperatures = [26, 25.5, 25, 24.5, 24, 23.5, 23, 22.5, 22, 21.5, 21, 20.5, 20, '---', 5];
                    let selectElement = document.getElementById(selectElementId + "_SELECTOR");
                    temperatures.forEach(value => {
                        let optionElement = document.createElement("OPTION");
                        optionElement.text = value;
                        optionElement.value = value;
                        optionElement.disabled = value === '---' ? "disabled" : "";
                        optionElement.selected = value === defaultOption ? "selected" : "";
                        selectElement.options.add(optionElement);
                    });

                    if(!temperatures.includes(defaultOption)) {
                        let optionElement = document.createElement("OPTION");
                        optionElement.text = defaultOption;
                        optionElement.value = defaultOption;
                        optionElement.selected = "selected";
                        selectElement.options.add(optionElement);
                    }
                }
            </script>
            <div class="temperature">
                <label for="ROOM_LIVING_TARGET_SELECTOR">Living Room ({{ROOM_LIVING.STATE_TEMPERATURE|round(1, 'common')}}/{{ROOM_LIVING.STATE_BOILER}}/{{ROOM_LIVING.STATE_PIPE_OUT|round(1, 'common')}})</label>
                <select id="ROOM_LIVING_TARGET_SELECTOR" name="ROOM_LIVING_TARGET">
                    <script>
                        createOptionWithValues("ROOM_LIVING_TARGET", {{ROOM_LIVING.STATE_TARGET}});
                    </script>
                </select>
                <!--<input type="checkbox" name="ROOM_LIVING_AUTO_OFF">Auto-off-->
            </div>
            <div class="temperature">
                <label for="ROOM_BED_TARGET_SELECTOR">Bedroom ({{ROOM_BED.STATE_TEMPERATURE|round(1, 'common')}}/{{ROOM_BED.STATE_BOILER}}/{{ROOM_BED.STATE_PIPE_OUT|round(1, 'common')}})</label>
                <select id="ROOM_BED_TARGET_SELECTOR" name="ROOM_BED_TARGET">
                    <script>
                        createOptionWithValues("ROOM_BED_TARGET", {{ROOM_BED.STATE_TARGET}});
                    </script>
                </select>
                <!--<input type="checkbox" name="ROOM_BED_AUTO_OFF">Auto-off-->
            </div>
            <div class="temperature">
                <label for="ROOM_COMPUTER_TARGET_SELECTOR">Lab13485 ({{ROOM_COMPUTER.STATE_TEMPERATURE|round(1, 'common')}}/{{ROOM_COMPUTER.STATE_BOILER}}/{{ROOM_COMPUTER.STATE_PIPE_OUT|round(1, 'common')}})</label>
                <select id="ROOM_COMPUTER_TARGET_SELECTOR" name="ROOM_COMPUTER_TARGET">
                    <script>
                        createOptionWithValues("ROOM_COMPUTER_TARGET", {{ROOM_COMPUTER.STATE_TARGET}});
                    </script>
                </select>
                <!--<input type="checkbox" name="ROOM_COMPUTER_AUTO_OFF">Auto-off-->
            </div>
            <div class="temperature">
                <label for="ROOM_HANS_TARGET_SELECTOR">Han's Room ({{ROOM_HANS.STATE_TEMPERATURE|round(1, 'common')}}/{{ROOM_HANS.STATE_BOILER}}/{{ROOM_HANS.STATE_PIPE_OUT|round(1, 'common')}})</label>
                <select id="ROOM_HANS_TARGET_SELECTOR" name="ROOM_HANS_TARGET">
                    <script>
                        createOptionWithValues("ROOM_HANS_TARGET", {{ROOM_HANS.STATE_TARGET}});
                    </script>
                </select>
                <!--<input type="checkbox" name="ROOM_HANS_AUTO_OFF">Auto-off-->
            </div>
        </div>

        <label for="auto-off-time">All off at: </label>
        <input id="auto-off-time" type="time" value="08:00" name="ALL_AUTO_OFF_TIME">

        <div style="text-align:center; margin-top:40px;">
            <input class="button" type="submit" value="Apply"/>
        </div>

    </form>
</body>
</html>
